<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
  <tr>
    <td>ID</td>
    <td><a th:text="${customer.id}"></a></td>
  </tr>
    <tr>
        <td>Address</td>
        <td><input type="text" name="address" th:value="${customer.address}"></td>
    </tr>
    <tr>
        <td>Email</td>
        <td><input type="text" name="email" th:value="${customer.email}"></td>
    </tr>
    <tr>
        <td>Name</td>
        <td><input type="text" name="name" th:value="${customer.name}"></td>
    </tr>
</table>

</body>
</html>